
*.pyc
ADVENTURE
AMPLIFIER
AoC_10-1.txt
AoC_14.txt
AoC_16.txt
AoC_18-1.txt
AoC_18-2.txt
AoC_20.txt
AoC_22.txt
AoC_24.txt
AoC_3-1.txt
AoC_6-1.txt
AoC_8-1.txt
ARCADE
ASCII
BOOST
DAY25
GRAV
NIC
PAINT
REPAIRDROID
SPRING
TEST
TRACTORBEAM
